body {
    font-family: Gilroy, sans-serif;
}
.wrapper {
    .wrapper();
}
.btn {
    height: 78px;
    background: #2C61F6;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 36px;
    cursor: pointer;
    @media screen and (max-width: 500px) {
        height: 40px;
        font-size: 20px;
    }
}